nav {
  padding: 0.1em;
}

nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

nav:hover ul {
  display: block;
}

nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

a:hover, a:focus {
  color: #29506D;
}

p {
  font-size: 1em;
}
